image: docker:latest

variables:
  IMAGE_LABELS: >
    --label vcs-url=$CI_PROJECT_URL
    --label com.gitlab.ci.builder=$GITLAB_USER_EMAIL
    --label com.gitlab.ci.pipeline=$CI_PROJECT_URL/pipelines/$CI_PIPELINE_ID
    --label com.gitlab.ci.ref=$CI_BUILD_REF_NAME
    --label com.gitlab.ci.build=$CI_PROJECT_URL/builds/$CI_BUILD_ID
    --label com.gableroux.unity3d.version=$VERSION
    --label com.gableroux.unity3d.build=$BUILD
    --label com.gableroux.unity3d.tag=$TAG
    --label com.gableroux.unity3d.download_url=$DOWNLOAD_URL
    --label com.gableroux.unity3d.sha1=$SHA1
    --label com.gableroux.unity3d.release_notes=$RELEASE_NOTES
    --label com.gableroux.unity3d.release_url=$RELEASE_URL
  IMAGE_ARGUMENTS: >
    --build-arg DOWNLOAD_URL=$DOWNLOAD_URL
    --build-arg COMPONENTS=$COMPONENTS
    --build-arg SHA1=$SHA1
  PYTHON_API_SCRIPT_URL: https://gitlab.com/wjentner/unity3d/raw/master/ci-utils/docker.py

services:
  - docker:dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

.build-master: &build-master
  stage: build
  script:
    - docker build -f ${DOCKERFILE_NAME}.Dockerfile $IMAGE_LABELS --label build-date=`date -Iseconds` $IMAGE_ARGUMENTS --pull -t "$CI_REGISTRY_IMAGE:$TAG" .
    - docker push "$CI_REGISTRY_IMAGE:$TAG"
    - |
      if [ -n "$LATEST" ]; then
        echo "Marking $CI_REGISTRY_IMAGE:$TAG as latest image"
        docker tag "$CI_REGISTRY_IMAGE:$TAG" "$CI_REGISTRY_IMAGE:latest"
        docker push "$CI_REGISTRY_IMAGE:latest"
      fi
  retry: 2
  only:
    - master

.build: &build
  stage: build
  script:
    - docker build -f ${DOCKERFILE_NAME}.Dockerfile $IMAGE_LABELS --label build-date=`date -Iseconds` $IMAGE_ARGUMENTS --pull -t "$CI_REGISTRY_IMAGE:$TAG-$CI_COMMIT_REF_SLUG" .
    - docker push "$CI_REGISTRY_IMAGE:$TAG-$CI_COMMIT_REF_SLUG"
  retry: 2
  except:
    - master

###################################################################################
# This stop template will be executed when a feature branch is deleted or merged. 
# As the branch is not available anymore, GIT_STRATEGY needs to be set to none as 
# otherwise an error will occur when trying to fetch the changes.
# Therefore, the required ./ci-utils/python.py script that provides an API for 
# docker hub needs to be downloaded separately.
###################################################################################
.stop-unitysetup: &stop-unitysetup
  stage: build
  script:
    # install python and required dependencies
    - apk add --no-cache --virtual .build-deps g++ python3-dev libffi-dev openssl-dev && apk add --no-cache --update python3 curl
    # download the python.py script file from a public repo
    - mkdir -p ./ci-utils && curl $PYTHON_API_SCRIPT_URL --output ./ci-utils/docker.py
    # delete the respective tag from docker hub
    - python3 ./ci-utils/docker.py del_tag "$CI_REGISTRY_IMAGE" "$TAG-$CI_COMMIT_REF_SLUG"
  variables:
    GIT_STRATEGY: none
  when: manual
  environment:
    name: $CI_COMMIT_REF_SLUG/$CI_REGISTRY_IMAGE-$TAG
    url: $CI_REGISTRY_IMAGE
    action: stop

###############################################################
# Automatically generated jobs
###############################################################

{%- if not versions.items() %}

nothing_to_build:
  stage: build
  script:
    echo 'All versions are already built, skipping'
{% else %}
{% for version_key, version in versions.items() %}
# main build for {{version_key}}
.unity_{{version.underscore}}: &unity_{{version.underscore}}
  variables:
    DOCKERFILE_NAME: {{version.dockerfile_name}}
    VERSION: {{version.version}}
    BUILD: {{version.build}}
    TAG: {{version_key}}
    {%- if not version.legacy %}
    COMPONENTS: {{version.base_components}}
    {%- endif %}
    DOWNLOAD_URL: {{version.download_url}}
    {%- if version.sha1 %}
    SHA1: {{version.sha1}}
    {%- endif %}
    {%- if version.release_notes %}
    RELEASE_NOTES: {{version.release_notes}}
    {%- endif %}
    {%- if version.release_url %}
    RELEASE_URL: {{version.release_url}}
    {%- endif %}
    {%- if version.latest %}
    LATEST: 1
    {%- endif %}

build unity_{{version.underscore}}:
  <<: *unity_{{version.underscore}}
  <<: *build
  environment:
    name: $CI_COMMIT_REF_SLUG/$CI_REGISTRY_IMAGE-$TAG
    url: $CI_REGISTRY_IMAGE
    on_stop: stop unity_{{version.underscore}}

###################################################################################
# Stop job for {{version.underscore}}
#
# Will delete the tag from docker hub when executed.
#
# Gitlabs feature 'extends:' is used as both templates, 
# the variables and the job template, are using the 'variables:'-map. 
# 'extends:' merges these two maps.
# With a second yaml anchor, the map is simply overridden and the variables 
# from the &unity_{{version.underscore}}-template are missing.
###################################################################################
stop unity_{{version.underscore}}:
  <<: *unity_{{version.underscore}}
  extends: .stop-unitysetup

build-master unity_{{version.underscore}}:
  <<: *unity_{{version.underscore}}
  <<: *build-master
  environment:
    name: $CI_COMMIT_REF_SLUG/$CI_REGISTRY_IMAGE-$TAG
    url: $CI_REGISTRY_IMAGE

{%- if not version.legacy %}
{% for platform_key, platform in platforms.items() %}
# platform specific for {{version_key}}: {{platform_key}}
.unity_{{version.underscore}}-{{platform_key}}: &unity_{{version.underscore}}-{{platform_key}}
  variables:
    DOCKERFILE_NAME: {{version.platforms[platform_key].dockerfile_name}}
    VERSION: {{version.version}}
    BUILD: {{version.build}}
    TAG: {{version_key}}-{{platform_key}}
    COMPONENTS: {{version.platforms[platform_key].components}}
    DOWNLOAD_URL: {{version.download_url}}
    {%- if version.sha1 %}
    SHA1: {{version.sha1}}
    {%- endif %}
    {%- if version.release_notes %}
    RELEASE_NOTES: {{version.release_notes}}
    {%- endif %}
    {%- if version.release_url %}
    RELEASE_URL: {{version.release_url}}
    {%- endif %}
    {%- if platform_key == 'android' and version.android_sdk_version %}
    ANDROID_SDK_VERSION: {{version.android_sdk_version}}
    {%- endif %}

build unity_{{version.underscore}}-{{platform_key}}:
  <<: *unity_{{version.underscore}}-{{platform_key}}
  <<: *build
  environment:
    name: $CI_COMMIT_REF_SLUG/$CI_REGISTRY_IMAGE-$TAG
    url: $CI_REGISTRY_IMAGE
    on_stop: stop unity_{{version.underscore}}-{{platform_key}}

###################################################################################
# Stop job for {{version.underscore}}-{{platform_key}}
#
# Will delete the tag from docker hub when executed.
###################################################################################
stop unity_{{version.underscore}}-{{platform_key}}:
  <<: *unity_{{version.underscore}}-{{platform_key}}
  extends: .stop-unitysetup

build-master unity_{{version.underscore}}-{{platform_key}}:
  <<: *unity_{{version.underscore}}-{{platform_key}}
  <<: *build-master
  environment:
    name: $CI_COMMIT_REF_SLUG/$CI_REGISTRY_IMAGE-$TAG
    url: $CI_REGISTRY_IMAGE
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
